@layer component {
  .dark-mode-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
  }

  .dark-mode-icon:active {
    transform: scale(0.95);
  }
  #dark-mode-toggle {
    box-sizing: border-box;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1;
  }

  .primary-btn {
    display: inline-flex;
    align-items: center;
    border-radius: 0.375rem;
    background-color: var(--main-color);
    padding: 0.75rem 1rem;
    font-size: (var(--sm));
    font-weight: var(--font-weight-bold);
    color: var(--complementary-white);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border: 1px solid var(--complementary-grey);
    text-align: center;
  }

  .primary-btn:hover {
    background-color: var(--complementary-grey);
  }

  @media (max-width: 768px) {
    .primary-btn {
      padding: 0.5rem 0.75rem;
      font-size: calc(var(--sm) * 0.9);
    }
  }
}
