@layer component {
  nav {
    background-color: var(--complementary-white);
  }

  .logo-text {
    font-size: var(--xl);
    font-weight: var(--font-weight-bold);
    color: var(--complementary-black);
  }
  .logo-name-flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /*adjust for mobile view*/
  @media (max-width: 768px) {
    .outwork-logo {
      width: 5rem;
      height: 5rem;
    }

    .logo-text {
      font-size: var(--l);
    }
    .nav-flex {
      justify-content: space-evenly;
    }
  }
}
