@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    font-family: var(--main-font);
    margin: 0;
  }

  :root {
    --main-color: #3fcf8e;
    --complementary-white: #ffffff;
    --complementary-grey: #a9a9a9;
    --complementary-black: #000000;
    --vibrant-orange: #ffa500;
    --main-font: "Montserrat", sans-serif;
    --sm: 1rem;
    --m: 1.25rem;
    --l: 1.5rem;
    --xl: 2rem;
    --xx1: 2.5rem;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;
  }

  html {
    background-color: var(--background-color);
  }
  input,
  textarea,
  button,
  select {
    font: inherit;
  }

  .ax-button {
    all: unset;
    outline: revert;
    box-sizing: border-box;
  }

  a {
    all: unset;
  }
  input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: none;
    background: transparent;
    box-shadow: none;
  }
}
