#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --bg-color: white;
  --text-color: black;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body,
html {
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1em;
  z-index: 1000;
  margin: 0;
  border: none;
  box-sizing: border-box;
  max-width: 90vw; /* This will ensure the dialog doesn't overflow the viewport */
}

dialog::backdrop {
  background-color: red;
  opacity: 0.5;
}
.drag {
  color: black;
  cursor: move; /* Change the cursor to indicate that the item can be moved */
  padding: 10px;
  margin: 5px 0; /* Add some margin between list items */
  background-color: #f0f0f0; /* Light grey background */
  border: 1px solid #ddd; /* Grey border */
  border-radius: 4px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Slight shadow for 3D effect */
  transition: background-color 0.2s ease; /* Smooth background color transition */
}

.drag:hover {
  background-color: #e0e0e0; /* Darken the background color when hovering */
}

.drag:active {
  background-color: #d0d0d0; /* Darken the background color even more when clicking */
}
