.menu-card {
  position: relative;
  background-color: white;
  padding: 1.5rem;
}

@media (max-width: 640px) {
  .menu-card:first-child {
    border-top-right-radius: 2.5rem;
    border-top-left-radius: 2.5rem;
  }

  .menu-card:last-child {
    border-bottom-right-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem;
  }
}

@media (min-width: 641px) {
  .menu-card:first-child {
    border-top-left-radius: 2.5rem;
  }

  .menu-card:nth-child(2) {
    border-top-right-radius: 2.5rem;
  }
  .menu-card:nth-child(5) {
    border-bottom-left-radius: 2.5rem;
  }
  .menu-card:nth-child(6) {
    border-bottom-right-radius: 2.5rem;
  }
}

.menu-card-icon-flex {
  display: inline-flex;
  border-radius: 0.5rem;
  padding: 0.75rem;
  color: #047481;
  box-shadow: 0 0 0 4px white;
}
.menu-card:nth-child(1) .menu-card-icon-flex {
  background-color: #ff6b6b;
}

.menu-card:nth-child(2) .menu-card-icon-flex {
  background-color: #ffe66d;
}

.menu-card:nth-child(3) .menu-card-icon-flex {
  background-color: #4ecdc4;
}

.menu-card:nth-child(4) .menu-card-icon-flex {
  background-color: #4fb0c6;
}

.menu-card:nth-child(5) .menu-card-icon-flex {
  background-color: #ffd166;
}

.menu-card:nth-child(6) .menu-card-icon-flex {
  background-color: #06d6a0;
}
.menu-card-icon {
  height: 2rem;
  width: 2rem;
}
.menu-icon-text-margin {
  margin-top: 2rem;
}
.menu-card-title {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: #1a202c;
}
.remove-focus-outline {
  outline: none;
}

.fill-space {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.menu-card-description {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: #6b7280;
}

.menu-card-arrow {
  pointer-events: none;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  color: #d1d5db;
}

.menu-card-arrow:hover > * {
  color: #9ca3af;
}

.menu-grid {
  border-bottom: 1px solid #e5e7eb;
  border-radius: 2.5rem;
  background-color: #e5e7eb;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
  border-bottom: 0;
  max-width: 60%;
  flex: auto;
}

.menu-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 640px) {
  .menu-grid {
    grid-template-columns: 1fr;
    max-width: 80%;
    flex: auto;
    margin-bottom: 2.5rem;
  }
}
